extends main
block titles
	title 修改随笔
block links
	link(rel="stylesheet", href="/editorMD/css/editormd.min.css")
	link(rel="stylesheet", href="/css/articles_editor.css")
block scripts
	script(src="/common/jquery.min.js")
	script(src="/editorMD/editormd.min.js")
	script(src="/js/articles_editor.js")

block contents
	form(action="/admin/update",method="post")
		div.alert-style.alert.alert-success(role="alert") 修改随笔
		div.form-content
			//- 文章_id
			div#_id
				input(type="text",name="_id",value=data._id)
			//- 标题
			div.input-group
				span#basic-addon1.input-group-addon 标题
				input.form-control(type="text",name="title",aria-describedby="basic-addon1",value=data.title)
			//- 文章内容 使用 MarkDown 编辑器
			div#addTextArea.form-text
				textarea(name="content") #{data.content}
			//- 文章标签
			div.form-tags.panel.panel-info
				div.panel-heading
					span.panel-title 文章标签
				div.panel-body
					- var arr = ['Javascript','Nodejs','ES6','Webpack','MongoDB','project'];
					each val in arr
						- if(val == data.tags)
							li
								input(type="radio",name="tags",value=val,checked) 
								apan.tags-span= val
						- else
							li
								input(type="radio",name="tags",value=val) 
								apan.tags-span= val		 
					
			//- 发表
			input.btn.btn-info(type="submit")
					




