extends app_index

block links
	link(rel="stylesheet", href="/app/css/app_show_list.css")
	
block scripts
	script(src="/app/js/app_show_list.js")
	

	
block content
	div.pages-list
		//- div.pages-cell
		//- 	div.page-time 
		//- 		| 2017年5月30日
		//- 	div.page-title
		//- 		a(href="/one") 提高代码质量
		//- 	div.page-content
		//- 		| 摘要：你好，hello 我啊龙卷风......
		//- 		a(href="/one") &nbsp;&nbsp;阅读全文
		//- 	div.page-tags
		//- 		| posted @ 2016-02-21 16:00 xubiao 阅读(1846) 
		each val,index in pageList
			- var time = new Date(val.time);
			- var year = time.getFullYear();
			- var month = time.getMonth();
			- var day = time.getDate();
			- var hours = time.getHours();
			- var minutes = time.getMinutes();
			- var contents = (val.content).replace(/<[^>]+>/g,"");
			-var pageContents = contents.substring(0,81);;
			div.pages-cell
				div.page-time 
					| #{year}年#{month}月#{day}日
				div.page-title
					a(href="/blogs?_id="+val._id)= val.title
				div.page-content
					| 摘要：#{pageContents}.....
					a(href="/blogs?_id="+val._id) &nbsp;&nbsp;阅读全文
				div.page-tags
					span posted @ &nbsp;
					span.page-tags-years &nbsp;#{year}-#{month}-#{day}&nbsp;
					span.page-tags-hours &nbsp;#{hours}:#{minutes}&nbsp;
					span.page-tags-author &nbsp;#{val.author}&nbsp;
					span.page-tags-pv &nbsp;阅读(#{val.pv})&nbsp;
					span.page-tags-kind &nbsp;分类:#{val.tags}
	//- 分页
	- if(pageCount)
		// 全文搜索时不会有分页
		div.split-page
			ul.split-page-ul
				span#totalPages #{pageCount}
				span#curPage #{curPage}
				span#curKind #{curKind}
				- var curURL = '';
				- if(curKind=='')
					- curURL ='/?page=';
				- else
					- curURL = '/list?kind='+curKind+"&page=";

				- if(pageCount && pageCount<=5)
					li.split-page-li 
						a(href="javascript:void();") 上一页
					- for(var i=1;i<=pageCount;i++)
						li.split-page-li 
							a(href=curURL+i)= i
					li.split-page-li 
							a(href="javascript:void();") 下一页
				- else if(pageCount && pageCount>5)
					li.split-page-li 
						a(href="#") 上一页
					li.split-page-li 
						a(href="#") ...
					- for(var i=1;i<=5;i++)
						li.split-page-li 
							a(href="/?page="+i)= i
					li.split-page-li 
						a(href="#") ...
					li.split-page-li 
						a(href="#") 下一页






