extends app_index

block titles

block links
	//- 引入markdown
	link(rel="stylesheet", href="/editorMD/css/editormd.min.css")
	
	link(rel="stylesheet", href="/app/css/app_show_page.css")

block scripts
	//- 引入markdown
	script(src="/common/jquery.min.js")
	script(src="/editorMD/lib/marked.min.js")
	script(src="/editorMD/lib/prettify.min.js")
	script(src="/editorMD/lib/raphael.min.js")
	script(src="/editorMD/lib/underscore.min.js")
	script(src="/editorMD/lib/sequence-diagram.min.js")
	script(src="/editorMD/lib/flowchart.min.js")
	script(src="/editorMD/lib/jquery.flowchart.min.js")
	script(src="/editorMD/editormd.js")
	script(src="/app/js/app_show_page.js")

block content
	//- 时间格式转换
	- var time = new Date(pageData.time);
	- var year = time.getFullYear();
	- var month = time.getMonth();
	- var day = time.getDate();
	- var hours = time.getHours();
	- var minutes = time.getMinutes();
	div.page-show
		//- 文章标题
		div.page-title
			| #{pageData.title}

		//- 文章内容
		div.page-content
			//- !=pageData.content
			//- p#markd !{pageData.content}
			div#editormd-view
				textarea(name="content", display="none") !{pageData.content}

		//- 文章作者，时间，标签等
		div.page-detail
			div.detail-kind
			div.detail-like
			div.detail-pre-next
			div.detail-info
				| posted @ #{year}-#{month}-#{day} #{hours}:#{minutes} #{pageData.author} 阅读(#{pageData.pv}) 分类:#{pageData.tags}

















